<!DOCTYPE html>
{% load staticfiles  %}
<html>
    <head>
	  	<title>注册</title>
	  	<!-- 下面两个meta 实现屏幕自适应 -->
	  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	 	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" media="screen" />
	 	<link rel="stylesheet" type="text/css" href="{% static 'css/mycss.css' %}" media="screen" />
	 	<script type="text/javascript" src="{% static 'js/jquery-1.11.3/jquery.js' %}"> </script>
		<script>
			 //产生验证码 
			window.onload = function() {
				createCode()
			}
			var code; //在全局定义验证码 
			function createCode() {
				code = "";
				var codeLength = 4; //验证码的长度 
				var checkCode = document.getElementById("code");
				var random = new Array(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R',
				'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'); //随机数 
				for(var i = 0; i < codeLength; i++) { //循环操作 
				var index = Math.floor(Math.random() * 36); //取得随机数的索引（0~35） 
					code += random[index]; //根据索引取得随机数加到code上 
				}
				checkCode.value = code; //把code值赋给验证码 
			}
		</script> 
		<!--Ajax-->
		<script>
			$(document).ready(function(){         //jquery 入口函数
				$("#signup").click(function(){    //创建点击事件
					var data = {
								'username':$('#username').val(),
								'email':$('#email').val(),
								'password':$('#password').val()
					} 
					var confirmed_password=$('#confirmed_password').val()
					var auto_code=$('#code').val()
					var input_code=$('#ctl00_txtcode').val()
					$('#signuped').html("<p id='signuped'></p>")
					$('#email_error').html("<p id='email_error'></p>")
					$('#pwd1_error').html("<p id='pwd1_error'></p>")
					$('#ctl00_txtcodel_error').html("<p id='ctl00_txtcodel_error'></p>")
					if (data['username'].length==0){
						$('#signuped').replaceWith("<p id='signuped' style='color:red'>用户不能为空</p>")
						createCode()
					}
					else if (data['email'].length==0){
						$('#email_error').replaceWith("<p id='email_error' style='color:red'>邮箱不能为空</p>")
						createCode()
					}
					else if (confirmed_password!=data['password']){
						$('#pwd1_error').replaceWith("<p id='pwd1_error' style='color:red'>输入两次密码不一样</p>")
						createCode()
					}
					else if(confirmed_password.length==0){
						$('#pwd1_error').replaceWith("<p id='pwd1_error' style='color:red'>密码不能为空</p>")
						createCode()
					}
					else
					{
						if (input_code!=auto_code){
							$('#ctl00_txtcodel_error').replaceWith("<p id='ctl00_txtcodel_error' style='color:red'>验证码输入错误</p>")
							createCode()
						}
						else{
							$.ajax({                      //使用.ajax方法，发送数据以及回调函数
								url:"{% url 'app:Signup' %}", //请求的url
								type:"POST",				  //请求方式为post
								timeout:3000,                 //请求超时为5s
								contentType: "application/json; charset=utf-8",//请求数据的编码是utf-8
								data:JSON.stringify(data),//打包数据体为json格式
								dataType:"json",    //数据格式为json格式
								async:true,          
								headers:{"X-CSRFToken":$('[name="csrfmiddlewaretoken"]').val()},//在请求头中加入CSRFtoke验证
								success:function(arg){        //
									console.log(arg)
									if (arg['username_used'] == true){
										$('#signuped').replaceWith("<p style='color:red'>该用户已经注册</p>")
									}
									else if(arg['email_used'] == true){
										$('#signuped').replaceWith("<p style='color:red'>该邮箱已经被注册</p>")
									}
									else if (arg['created'] == true){
										alert('验证信息已经发送到你的邮箱,请查看你的邮箱,激活账户。点击确定跳转到登录界面')
										window.location.href="{% url 'app:UserLogin' %}"//弹窗跳转URL
									}
									else 
									{
										alert(arg['except'])
										window.location.href="{% url 'app:Signup' %}"//弹窗跳转URL
									}
								},
								complete:function(XMLHttpRequest,status){
									if (status =='timeout'){
										//ajaxTimeOut.abort()
										//Madel.warning({
										//	title:'友情提示',
										//	content:'网络不稳定',
										alert('网络不稳定')
									}
								},
							})
						}
					}
					return false 
				//默认ajax存在:一次按键提交事件会提交两次post会造成问题,避免这种情况添加return false
				})
			})

		</script>

    </head>
<body>
	<div class='container-fluid' style="vertical-align: middle;">

		<div class="mylogin-padding">
	    <h1 style=" text-align: center;">注 册</h1>
			<div class="col-xs-7 col-md-3 col-lg-3  col-center-block" >
			<form id="signup_form" action="{% url 'app:Signup' %}" method="post">
				{% csrf_token %}  
				<p id='signuped'></p>
				<input type="text" id="username" class="form-control" placeholder="请输入用户名" name="username" required='required'/>
				<br>
				<p id='email_error'></p>
				<input type="email" id="email" class="form-control" placeholder="email" name="email" required='required' />
				<br>
				<p id='pwd1_error'></p>
				<input type="password" id="password" class="form-control" placeholder="请输入密码" name="password" required='required' />
				<br>
				<p id='pwd2_error'></p>
				<input type="password" id="confirmed_password" class="form-control" placeholder="请再次确认密码" name="confirmed_email" required='required' />
				<br> 
				<p id='ctl00_txtcodel_error'></p>
				<input type="text"  class="form-control" style="width:55%; float: left;" id="ctl00_txtcode" placeholder="输入验证码" required='required'/>
			  	<input type="button" class="form-control" style="width:45%; float: right; font-size:130%" id="code" onclick="createCode()" />
			  	<br>
			  	<br>
			  	<br>
				<button class="btn-primary form-control" id="signup" ">注 册</button>       
			    <br>
			</div>
	      	</form>
	    </div>
     </div>
</body>
</html>