<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
	<title>注册提示</title>
		<!-- 下面两个meta 实现屏幕自适应 -->
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

 	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" media="screen" />
 	<link rel="stylesheet" type="text/css" href="{% static 'css/mycss.css' %}" media="screen" />
</head>

<body>
	<div class='container-fluid' style="vertical-align: middle;">

		<div class="mylogin-padding">
	    <p style=" text-align: center;">注册认证邮件已经发送到你的邮箱,请查件您的邮箱,若没收到邮件请点击这里,再获取一次</p>
	    </div>
     </div>
</body>
</html>