{% extends 'home_base.html' %}
{% block title %} home {% endblock %}
{% block context %}
<div class="row placeholders borderlayout">
	<div id="outline" class="col-xs-6  col-sm-3  ">
		<a href="{% url 'device:product_development' %}" >
			<div class="row" style="background-color: #00FFFF;border-radius: 15px;">
				<div class="col-xs-6 col-sm-6" style=" float: left;">
				 <span class="glyphicon glyphicon-align-left" aria-hidden="true" style="font-size: 50px;margin: 10px;"></span>
				 </div>	
				 <div class="col-xs-6 col-sm-6" style="float: right;">
					 <p style="font-size:15px;padding:10px 5px;">设备总数</p>
					 <p id="total" style="font-size:15px;padding:10px 5px;">12</p>
				</div>
			</div>
		</a>
	</div>
	<div id="outline" class="col-xs-6 col-sm-3 ">
		<a href="{% url 'device:product_development' %}" >
			<div class="row" style="background-color: #7FFFD4;border-radius: 15px;">
				<div class="col-xs-6 col-sm-6" style=" float: left;">
				 <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" style="font-size: 50px;margin: 10px;"></span>
				 </div>	
				 <div class="col-xs-6 col-sm-6" style="float: right;">
					 <p style="font-size:15px;padding:10px 5px;">在线设备 </p>
					 <p style="font-size:15px;padding:10px 5px;">12</p>
				</div>
			</div>
		</a>
	</div>
	<div id="outline" class="col-xs-6 col-sm-3   ">
		<a href="{% url 'device:product_development' %}" >
			<div class="row" style="background-color: #8FBC8F;border-radius: 15px;">
				<div class="col-xs-6 col-sm-6" style=" float: left;">
				 <span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="font-size: 50px;margin: 10px;"></span>
				 </div>	
				 <div class="col-xs-6 col-sm-6" style="float: right;">
					 <p style="font-size:15px;padding:10px 5px;">离线设备 </p>
					 <p style="font-size:15px;padding:10px 5px;">12</p>
				</div>
			</div>
		</a>
	</div>
	<div id="outline" class="col-xs-6  col-sm-3 ">
		<a href="{% url 'device:product_development' %}" >
			<div class="row" style="background-color: #A9A9A9;border-radius: 15px;">
				<div class="col-xs-6 col-sm-6" style=" float: left;">
				 <span class="glyphicon glyphicon-alert" aria-hidden="true" style="font-size: 50px;margin: 10px;"></span>
				 </div>	
				 <div class="col-xs-6 col-sm-6" style="float: right;">
					 <p style="font-size:15px;padding:10px 5px;">异常设备 </p>
					 <p style="font-size:15px;padding:10px 5px;">12</p>
				</div>
			</div>
		</a>
	</div>
</div>
{% endblock %}